* {
  box-sizing: border-box;
}

:root {
  background-color: #f5f7fb;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 40px 75px;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #293264;
  overflow: hidden;
}

button {
  transition: opacity 0.25s;
  font-family: "Inter", sans-serif;
  color: #f5f7fb;
  background-color: #4d5b9e;
  border: none;
  border-radius: 16px;
}

button:hover {
  opacity: 75%;
}

button:focus {
  opacity: 50%;
}
